# Dependencies
node_modules/
.pnpm-store/

# Production build
dist/

# Capacitor
android/app/src/main/assets/public/
android/app/build/
android/app/src/main/assets/capacitor.config.json

# Local env files — remove the next line to share .env with trusted collaborators
# .env
.env.local
.env.*.local

# IDE / Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
